body{
 font-family: sans-serif;
 background-image: url(http://www.jsu.edu/depart/geography/mhill/worldmapman/worldmapman/nafmide/wblmapm.jpg);
 background-repeat: no-repeat;
 background-size: cover;

}

h3 {
font-size: 20px;
word-spacing: 2px;
text-align: center;
}

.subtitle{
text-align: center;
font-style: italic;
color: grey;
background-color: white;
}

.full {
max-width: 1000px;
margin: 0 auto;

}

.container {
  float: left;
  display: inline-block;
  width: 50%;
  padding-bottom: 5%;
  text-align: center;
}


.name{
  border: groove;
  color: black;
  width: 45%;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  cursor: pointer;
  background-color: black;
}
.name:hover {
  color: red;
}

.description{
  width: 50%;
  top: 100px;
  text-align: center;
  color: red;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: white;
  margin: 0 auto;

}

#flag {
  top: 180px;
  height: 250px;
  width: 400px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;

}
